body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#search-container {
    margin: 400px auto;
    text-align: center;
}

#search-container input[type="text"] {
    padding: 10px;
    width: 500px;
    font-size: 18px;
    border-radius: 10px;
}

#search-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
  
.error-message {
    font-size: 24px;
    color: red;
    font-weight: bold;
}
  
.description {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
}

  
.bnf-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
  
.bnf-h1 {
    font-size: 28px;
    color: #ff5851;
    margin: 10px 0;
}

.bnf-p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}
  

.error-container.integration-problem {
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

.error-heading.integration-problem {
    color: #333;
    font-size: 28px;
}

.error-message.integration-problem {
    color: #666;
    font-size: 18px;
}

.container-book-details {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .title-book-details {
    font-size: 28px;
    color: #333;
    margin: 10px 0;
  }
  
  .description-book-details {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
  }
  
  .category-book-details {
    font-size: 16px;
    color: #777;
    margin: 10px 0;
  }

  #additional-info {
    font-size: 8px;
    color: #555;
}