{% extends 'base.html' %}

{% block main %}
<div class="bnf-container">
    <h1 class="bnf-h1">Book Not Found</h1>
    <p class="bnf-p">The book you searched for could not be found.</p>
    <p class="bnf-p">Please ensure that you have spelled the title correctly and try again.</p>
    
    <form class="search-form" action="search.html">
        <input type="text" name="book_name" placeholder="Search for another book...">
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}